//==================================================
// フッター
//==================================================

.footer {
    padding: 12px;

    .copyright {
        font-size: 1.3rem;
        text-align: center;
        color: #fafafa;
    }
}
