//===================================================
// ヘッダー
//===================================================

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, rgba(56, 54, 52, 1) 0%, rgba(56, 54, 52, 0.5) 60%, rgba(56, 54, 52, 0) 100%);
    z-index: 1;
    transition: 0.5s;
    &-inner {
        height: 10rem;
        margin: 0 auto;
        width: 100%;
        max-width: 1496px;
        padding: 0 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq(lg) {
            padding: 0 3rem;
        }
    }

    &-logo {
        min-width: 25rem;

        a {
            position: relative;
            font-size: 3rem;
            box-sizing: border-box;
            padding: 30px 10px;
            color: $color_white;
            display: inline-block;
            transition: 0.3s;
            @include mq() {
                font-size: 2rem;
            }

            span {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                text-align: center;
                font-size: 0.4em;
                transition: .5s;
                opacity: 0;
            }

            &:hover {
                transform: translateY(.6rem);

                span {
                    opacity: 1;
                    top: 1rem;
                }
            }
        }
    }
}

.headerNav {
    &-list {
        display: flex;
        align-items: center;
        margin: 0;
        a {
            position: relative;
            font-size: 2rem;
            color: $color_white;
            box-sizing: border-box;
            border: 0 solid $color_white;
            position: relative;
            display: inline-block;
            margin-right: calc(30 / 1376 * 100vw);
            padding: 30px 10px;
            transition: transform 0.5s;

            span {
                font-size: 1.2rem;
                position: absolute;
                top: 0;
                left: 50%;
                width: 100%;
                text-align: center;
                transform: translateX(-50%);
                opacity: 0;
                transition: all 0.5s;
            }

            &:hover {
                transform: translateY(0.8rem);

                span {
                    opacity: 1;
                    top: 1rem;
                }
            }
        }
    }

    &-item:last-child a {
            margin-right: 0;
    }

    @include mq(lg) {
        display: none;
    }
}

.openBtn {
    display: none;
    cursor: pointer;
    z-index: 110;
    @include mq(lg) {
        display: block;
    }
    .top,
    .middle,
    .bottom {
        margin-bottom: 8px;
        display: block;
        height: 2px;
        background: $color_white;
        transition: all 0.5s;
        &:last-child {
            margin: 0;
        }
    }
    .top {
        width: 50px;
    }
    .middle {
        width: 40px;
    }
    .bottom {
        width: 30px;
    }

    &.open {
        .top {
            transform: translateY(10px) rotate(135deg);
        }
        .middle {
            transform: scaleX(0);
        }
        .bottom {
            width: 50px;
            transform: translateY(-10px) rotate(-135deg);
        }
        .top,
        .middle,
        .bottom {
            background: $color_white !important;
        }
    }
}
