.pageWorks {
    padding: 18rem 0;
    color: $color_white;
    //background: $color_black;
    position: relative;
    z-index: 0;
    @include mq() {
        padding: 10rem 0;
    }
    &-heading {
        @include heading($color-white);
    }

    &-wrapper {
        margin: 6rem 2rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &::after {
            display: block;
            content: "";
            width: 33%;
        }
    }

    &-box {
        display: flex;
        flex-direction: column;
        padding: 0 1rem 8rem;
        width: 33%;
        @include mq(lg) {
            width: 50%;
        }
        @include mq(md) {
            width: 100%;
        }
    }

    &-img {
        overflow: hidden;
    }

    &-eff {
        position: relative;
        width: 100%;
        height: auto;
        transition: all .5s ease 0.1s;
        &:before {
            content: "Click More";
            position: absolute;
            width: 100%;
            height: 100%;
            background: radial-gradient(rgba(56, 54, 52, 0.4), rgba(56, 54, 52, .8));
            transition: all .5s ease 0.1s;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-white;
            font-size: 2rem;
            text-shadow: 0 0 .5rem $color-black;
        }
        &:hover {
            transform: scale(1.1);
            &::before {
                opacity: 1;
            }
        }
    }

    &-descHeading {
        color: $color_white;
        font-size: 1.8rem;
        line-height: 1.8;
        margin-top: 1rem;
        @include mq() {
            font-size: 1.4rem;
        }
    }

    &-desc {
        color: $color_white;
        font-size: 1.4rem;
        line-height: 1.8;
        @include mq() {
            font-size: 1.2rem;
        }
    }

    .linkBox {
        position: relative;
        .readMore {
        @include readMore($color-white);
        @include mq() {
            margin-top: 4rem;
        }
        }
    }
}
