.promise {
    padding: 8rem 0;
    background: $color_white;

    &-heading {
        @include heading();
    }

    &-wrapper {
        margin-top: 6rem;
    }

    &-list {
        list-style: none;
        width: 90%;
        max-width: 80rem;
        margin:0 auto;
        @include mq(lg) {
            width: 60%;
        }
        @include mq() {
            width: 90%;
        }
    }

    &-item {
        margin: 1rem 0;
        @include mq() {
            margin: 2rem 0;
        }
    }
}
/*アコーディオン全体*/
.accordion {
    border-bottom: 1px solid $color_black;
    &-title {
        position: relative;/*+マークの位置基準とするためrelative指定*/
        cursor: pointer;
        font-size:1.8rem;
        font-weight: normal;
        padding: 2% 2% 2% 5rem;
        transition: all .5s ease;
        @include mq() {
            font-size: 1.4rem;
            padding: 4% 4% 4% 5rem;
        }
        /*アイコンの＋と×*/
        &::before,
        &::after {
            position: absolute;
            content:'';
            width: 15px;
            height: 2px;
            background-color: $color_black;
        }

        &::before {
            top: 48%;
            left: 15px;
            transform: rotate(0deg);
            transition: .5s;
        }

        &::after {
            top: 48%;
            left: 15px;
            transform: rotate(90deg);
            transition: .5s;
        }
    }
    /*closeというクラスがついたら形状変化*/
    &-title.is-active::before {
        transform: rotate(135deg);
    }

    &-title.is-active::after {
        transform: rotate(225deg);
    }
    /*アコーディオンで現れるエリア*/
    &-box {
        // position: relative;
        box-sizing: border-box;
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: .5s ;
        &.is-open {
            height: 10rem;
            opacity: 1;
            transition: .5s;
            @include mq() {
                height: 10rem;
            }
        }
    }

    &-text {
        padding: 2% 4%;
        font-size: 1.4rem;
        line-height: 1.8;
        @include mq() {
            font-size: 1.2rem;
            padding: 2% 6%;
        }
    }
}
